services:
  app:
    build: .
    container_name: deare-backend-dev
    ports:
      - "${SERVER_PORT:-8080}:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      REDIS_HOST: redis
      REDIS_PORT: 6379
      # DB_URL/DB_USER/DB_PASSWORD/AWS_* 는 .env에서 주입 받음
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - deare-network

  mysql:
    image: mysql:8.0
    container_name: deare-mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_CHARACTER_SET_SERVER: utf8mb4
      MYSQL_COLLATION_SERVER: utf8mb4_unicode_ci
    # 로컬 테스트 시 이 부분 각주 처리
    ports:
      - "3306:3306"

    volumes:
      - mysql-data-dev:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -p$${MYSQL_ROOT_PASSWORD} || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s
    networks:
      - deare-network


  redis:
    image: redis:7-alpine
    container_name: deare-redis-dev
    ports:
      - "6379:6379"
    volumes:
      - redis-data-dev:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s
    networks:
      - deare-network

volumes:
  mysql-data-dev:
  redis-data-dev:

networks:
  deare-network:
    driver: bridge
