spring:

  config:
    import:
      - optional:file:.env[.properties]

  application:
    name: api

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    data:
      redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT}

decorator:
  datasource:
    p6spy:
      enable-logging: true
      logging: slf4j
      multiline: true

aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
    region: ${AWS_REGION}
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}

# FeignClient - 더미 데이터임
external:
  ai:
    base-url: "https://example.com"
