spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
      logging: slf4j
      multiline: true

  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 10000 # 10초
            readTimeout: 180000 # 3분