spring:
  application:
    name: api

  datasource:
    url: jdbc:mysql://localhost:3306/DB명?serverTimezone=Asia/Seoul
    username: DB계정
    password: DB비밀번호
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true