spring:
  application:
    name: api

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
#    url: jdbc:mysql://localhost:3306/deare_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: root
#    password: ownue
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true